<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="apple-touch-icon" sizes="57x57" href="assets/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/ico/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#f40342f">
    <meta name="msapplication-TileImage" content="assets/images/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#002D55">
    <meta name="author" content="">
    <link rel="made" href="" />
    <meta name="robots" content="INDEX, FOLLOW">
    <title>SOMOS B1G DIGITAL</title>
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/quick-events.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/datatable.css') }}" />
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/design-system.css') }}" rel="stylesheet" crossorigin="anonymous">
</head>

<body id="main">
    <div class="ajaxbloc"
        data-ajax-env="IN2hf+TnMfGZ8aQQ/E25jIRGhciuwUykNNnnjSgilNpoMyZpZHHkxQAR8b5Wo6ng6h8x+gVeRNgokOzsj33Ec2Xdv0b2MjQufR4F5hPVcGupUeSlDII7PbzoLC8jv//S3RnnokcftlWt/4bJ6px6Bm0ga6LwS4iEW5I2ll1krfzyIoi0w5/mJOSiAAQrowMkeOW73Jn1rJLfudHUsbCMnelrQqD5bDHnSfF1AuOsvuE="
        data-origin="-Registro-Civil-e-Identificacion-798-.html">
        <footer id="footer" style="margin-top: 3%;" >

            <!--CERRAR-->
            <div class="container" style="max-width: 1920px;">
                <div class="row">
                    <div class="disclamer col-lg-2 col-md-12 col-sm-12">
                        <a href="https://www.registraduria.gov.co/" target="_blank"><img
                                src="{{ url_for('static', filename='img/mainlogo-white.svg') }}" alt="logo-rnec"></a>
                    </div>
                    <div class="menu-footer col-lg-6 col-md-12 col-sm-12">
                        <p class="white" style="margin-top: 30px; margin-left: -30px; font-weight: bold;">Sede principal
                        </p>
                        <p class="white"><i class="fa-solid fa-location-dot"></i> Av. Calle 26 n.º 51-50, CAN, Bogotá,
                            Colombia. CP: 111321 </p>
                        <p class="white"><i class="fa-solid fa-envelope"></i> Horario de atención correspondencia de
                            lunes a viernes de 8:00 a. m. a 4:30 p. m. en jornada continua (Sede CAN av. calle 26 nº
                            51-50)</p>
                        <p class="white"> <i class="fa-solid fa-phone"></i> Conmutador: +57 (601) 220 2880</p>
                        <!-- <p class="white"> <i class="fa-solid fa-mobile"></i> Línea móvil: <b>305 7342003</b> y línea gratuita nacional: <b>018000 931026</b> de lunes a sábado de 8:00 a.m. a 5:00 p.m. </p> -->
                        <p class="white" style="margin-top: 30px; margin-left: -30px; font-weight: bold;">Centro de
                            Atención e Información Ciudadana (CAIC)</p>
                        <p class="white"><i class="fa-solid fa-clock"></i> Carrera 7.ª n.º 16-57, Piso 1, Edificio
                            Córdoba. Horario: 8:00 a. m. a 4:00 p. m., en jornada continua </p>

                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="content-footer">
                            <div class="content-sections">
                                <a href="/Politicas-de-privacidad-y-condiciones-de-uso.html" target="_blank">
                                    <p class="white"> Políticas de privacidad</p>
                                </a>
                                <a href="/Politicas-de-privacidad-y-condiciones-de-uso.html" target="_blank">
                                    <p class="white"> Condiciones de uso</p>
                                </a>
                                <a href="https://correo.registraduria.gov.co/owa/auth/logon.aspx?replaceCurrent=1&amp;url=https%3a%2f%2fcorreo.registraduria.gov.co%2fowa"
                                    target="_blank">
                                    <p class="white"> Correo institucional</p>
                                </a>
                                <a href="https://www.office.com/" target="_blank">
                                    <p class="white"> Correo institucional (Office 365)</p>
                                </a>
                                <a href="http://translate.google.com/translate?sl=es&amp;tl=en&amp;u=http%3A%2F%2Fwww.registraduria.gov.co%2F"
                                    target="_blank">
                                    <p class="white"> Translate</p>
                                </a>
                                <a href="/?page=plan" target="_blank">
                                    <p class="white"> Mapa del sitio</p>
                                </a>
                                <a href="https://gestordocumental.registraduria.gov.co:4450/" target="_blank">
                                    <p class="white"> Contáctenos</p>
                                </a>
                            </div>
                            <div class="content-sections">
                                <a href="/-Biblioteca-Gustavo-Duarte-821-.html" target="_blank">
                                    <p class="white"> Biblioteca de la Registraduría</p>
                                </a>
                                <a href="https://intranet.registraduria.gov.co/" target="_blank">
                                    <p class="white"> Intranet</p>
                                </a>
                                <a href="https://wsp.registraduria.gov.co/normatividad/" target="_blank">
                                    <p class="white"> Normatividad</p>
                                </a>
                                <a href="/-Procedimientos-150-.html" target="_blank">
                                    <p class="white"> Correos judiciales</p>
                                </a>
                                <a href="https://gestordocumental.registraduria.gov.co:4450/" target="_blank">
                                    <p class="white"> PQRSDC</p>
                                </a>
                                <a href="/Glosario.html" target="_blank">
                                    <p class="white"> Glosario</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="socialnet-container" style="margin-top: 30px;">
                    <a class="socialnet facebook" href="https://www.facebook.com/RegistraduriaNacional/" target="_blank"
                        alt="facebook" title="facebook" aria-label="facebook">
                    </a>

                    <a class="socialnet twitter" href="https://twitter.com/Registraduria" target="_blank" alt="twitter"
                        title="twitter" aria-label="twitter">
                    </a>

                    <a class="socialnet youtube" href="https://www.youtube.com/user/RegistraduriaNal#" target="_blank"
                        alt="youtube" title="youtube" aria-label="youtube">
                    </a>

                    <a class="socialnet instagram" href="https://www.instagram.com/registraduria/" target="_blank"
                        alt="instagram" title="instagram" aria-label="instagram">
                    </a>

                    <a class="socialnet linkedin"
                        href="https://www.linkedin.com/company/registradur%C3%ADa-nacional-del-estado-civil/"
                        target="_blank" alt="linkedin" title="linkedin" aria-label="linkedin">
                    </a>

                    <a class="socialnet tiktok" href="https://www.tiktok.com/@registraduria" target="_blank"
                        alt="tiktok" title="tiktok" aria-label="tiktok">
                    </a>
                </div>
                <div class="bar-footer">
                    <div class="col-12 col-sm-6">
                        <p class="white text-small">

                            Última actualización 15 agosto de 2024
                        </p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <p class="white text-small">Copyright 2024 <i class="fa-solid fa-copyright"></i> - Registraduría
                            Nacional del Estado Civil. </p>
                    </div>
                </div>
            </div>

        </footer>

        <script>

            // const x = document.querySelectorAll(".breadcrumb");
            // console.log(x[0].innerText)

            const menu = document.querySelectorAll(".button-link");
            if ((document.URL) == 'https://www.registraduria.gov.co/-Portafolio-de-servicios-791-.html'
                || (document.URL) == 'http://192.168.232.97/-Portafolio-de-servicios-791-.html'
                || (document.URL) == 'http://192.168.232.98/-Portafolio-de-servicios-791-.html'
                || (document.URL) == 'http://10.210.150.18/-Portafolio-de-servicios-791-.html'
            ) {
                for (const j of [1]) {
                    menu[j].classList.add('active-button');
                    document.getElementById("icon-flotante-servicios").setAttribute("src", "squelettes/images/icon-servicios-azul.svg");
                }
                for (const j of [0]) {
                    menu[j].classList.remove('active-button');
                    document.getElementById("icon-flotante-institucional").setAttribute("src", "squelettes/images/icon-institucional-verde.svg");
                }
            }
        </script>

        <!--JS--->
        <script src="squelettes/js/bootstrap.js"></script>
        <script src="squelettes/js/menu_funcionalidad.js"></script>

        <!-- service worker -->
        <!-- <script src="assets/js/app.js"></script> -->

        <!-- LOADER -->
        <script src="assets/js/loader.js"></script>
        <!-- <script src="assets/js/datatables.js"></script> -->
        <!--JS--->
        <script src="assets/js/jquery-3.7.1.js"></script>
        <script src="assets/js/dataTables.js"></script>



        <script defer="">
            var elemento = document.getElementById('#myTable');
            if (elemento !== null) {

                $(document).ready(function () {
                    $('#myTable').DataTable({
                        language: {
                            lengthMenu: 'Mostrar _MENU_ publicaciones',
                            zeroRecords: 'No se encontró nada ',
                            info: 'Mostrando página _PAGE_ de _PAGES_',
                            infoEmpty: 'No hay registros disponibles',
                            infoFiltered: '(filtrado de _MAX_ registros totales)',
                            "destroy": true,

                            loadingRecords: "Loading...",
                            processing: "",
                            search: "Buscar:",
                            paginate: {
                                first: "Primera",
                                last: "Ultima",
                                next: "Siguiente",
                                previous: "Anterior",
                            }
                        },
                        order: [[0, 'asc']]
                    });

                });
            };

        </script>
        <!-- INICIO ACCESIBILIDAD -->
        <script src="readabler/js/readabler.min.js"></script>
        <script>
            window.addEventListener('DOMContentLoaded', () => {
                const options = {
                    //path: './readabler',
                }
                const style = {
                    //'--readabler-bg': '#ffffff'
                }
                const readabler = new Readabler({

                    locale: 'es',

                });
            });

        </script>

        <!-- FIN ACCESIBILIDAD -->

        <!-- INICIO CALENDARIO -->
        <!--JS--->
        <!-- Include language file -->
        <script src="assets/js/lang.js"></script>

        <!-- Include js files -->
        <!-- PLUGIN ANULADO carrusel
        <script src="assets/js/owl.carousel.min.js"></script> 
    
    
        carrusel -->

        <!-- <script src="assets/js/jquery.js"></script> -->
        <!-- <script src="assets/js/jquery.min.js"></script>  -->
        <script src="assets/js/jquery-magnific-popup.min.js"></script>
        <script src="assets/js/quick-events.js"></script>
        <script src="assets/js/bda6dd05c0.js" crossorigin="anonymous"></script>

        <!-- <script src="assets/js/popper.min.js"></script> -->

        <!-- FIN CALENDARIO -->

        <!-- INICIO TABLAS -->
        <script src="assets/js/popper.min.js"></script>
        <script>

            const triggerTabList = [].slice.call(document.querySelectorAll('#myTab a'));
            triggerTabList.forEach((triggerEl) => {
                const tabTrigger = new mdb.Tab(triggerEl);

                triggerEl.addEventListener('click', (event) => {
                    event.preventDefault();
                    tabTrigger.show();
                });
            });
        </script>
        <!-- FIN TABLAS -->

        <!-- SPIP-CRON -->
        <script>setTimeout(function () { var xo = new XMLHttpRequest(); xo.open('GET', 'http://www.registraduria.gov.co/spip.php?action=cron', true); xo.send(''); }, 100);</script>
        <noscript>
            <div style="background-image: url('http://www.registraduria.gov.co/spip.php?action=cron');"></div>
        </noscript>
    </div>

</body>



<!-- Include js files -->
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/quick-events.js') }}"></script>
<script src="js/bootstrap.js"></script>
<script src="assets/js/datatables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/bda6dd05c0.js" crossorigin="anonymous"></script>


<script type="text/javascript">
    function open(URL, width, height) {
        window.open(URL, 'windowOpenTab', 'scrollbars=NO,resizable=1,width=' + width + ',height=' + height + ',left=0, top=0');
    }
</script>
<script src="js/menu_funcionalidad.js"></script>

</html>